{% extends 'base.html' %} {% block content %}

<h1>The Cheezes</h1>

{% for cheese in cheeses %}
<div class="card green lighten-5">
    <a href="{% url 'detail' cheese.id %}">
        <div class="card-content">
            <span class="card-title">{{ cheese.name }}</span>
            <p>Flavor Profile: {{ cheese.flavor }}</p>
            <p>Description: {{ cheese.description }}</p>
            <p>Origin Location: {{ cheese.origin }}</p>
            <p>Associated Dishes: {{ cheese.dishes }}</p>
        </div>
    </a>
</div>
{% endfor %} {% endblock %}