{% extends 'base.html' %} {% block content %}

<h1>Cat List</h1>

{% for cat in cats %}
<div class="card green lighten-5">
    <a href="{% url 'detail' cheese.id %}">
        <div class="card-content">
            <span class="card-title">{{ cheese.name }}</span>
            <p>Type: {{ cheese.type }}</p>
            <p>Description: {{ cheese.description }}</p>
            {% if cheese.age > 0 %}
            <p>Origin Location: {{ cheese.Origin }}</p>
            {% else %}
            <p>Origin: Unknown</p>
            {% endif %}
        </div>
    </a>
</div>
{% endfor %} {% endblock %}