{% extends 'base.html' %}

{% block content %}

{% load static %}

<img src="https://mcusercontent.com/2f8927d14f41758bfeba67442/images/c767d72c-c31b-93f6-22db-647eb110a5f0.png" alt="" class="responsive-img">
   
    <div class="About Us Font">
    <h3>About Us</h3>
    <h4>Here at I'm Cheezey, we want our cheese and we enjoy eating it too...</h4>
    <p> Often times when pairing cheeses it can be a hassle. So many google searches for the same questions over and over again. 
        With our app you can save your favorite pairings with a click of button. Our founder Oma is the CHEEZEYest person we know and 
        she knows her cheeses. Enjoy using our app. 

        To contrubute to our efforts of expansion please visit our github and become a supporter. 
        </p>
        
    <a href="https://github.com/CodingGemSupreme/I-m-Cheezey/tree/master">
        <img alt="OmaLikesCoding" src="https://mcusercontent.com/2f8927d14f41758bfeba67442/images/8b322632-3881-a51a-8061-15ed4d0e95f4.png"
        width=150" height="70">
     </a>
</div>
{% endblock %}